:root{
    --main: #E3170A;
    --lite: #A5D8FF;
    --dark: #2C365E;
}

body{
    background-color: var(--dark);
    font-family: "Lucida Console", Monaco, monospace;
    color: var(--main)
}

div#nav_bar {
    text-align: center;
    background-color: var(--main);
    margin-left: 40em;
    margin-right: 40em;
}

h1{
    padding: 5px;
    font-weight: bolder;
    text-align: center;
}

li {
    display: inline;
}

p.a_little_more {
    margin-top: 25px;
}

h2#about_me {
    text-align:center
}

p.interoduction {
    margin-top: 25px;
    text-align: center;
}
p.more {
    padding-bottom: 25px;
    background-color: var(--dark);
    text-align: center;

}

img#me {
    padding-left: 43%;
}

img {
    display: block;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 100;
}

a:hover {
    color: var(--lite);
}

form {
    color: var(--lite)
}