:root{
    --main: #E3170A;
    --lite: #A5D8FF;
    --dark: #2C365E;
}

body{
    background-color: var(--dark);
    font-family: "Lucida Console", Monaco, monospace;
    color: var(--main);
    word-spacing: .25em;

}

h1{
    padding: 5px;
    font-weight: bolder;
    text-align: center;
}

p.a_little_more {
    margin-top: 25px;
}

h2#about_me {
    text-align:center
}

p.interoduction {
    margin-top: 25px;
    text-align: center;
}
p.more {
    padding-bottom: 25px;
    background-color: var(--dark);
    text-align: center;

}

img#me {
    padding-left: 43%;
    padding-top: 5%;
}

img {
    display: block;
}


a:hover {
    color: var(--lite);
}

form {
    color: var(--lite)
}

fieldset {
    border: 2px solid var(--lite)
}

input[type="text"], textarea {
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 
    'Trebuchet MS', sans-serif;
    padding: .25em;
    margin-bottom: 15px;
}

input[type="submit"] {
    font-family: 'Gill Sans', 'Gill Sans MT', 
    Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    color: var(--lite);
    background-color: var(--dark);
    border: 3px dotted var(--main);
    
}

footer {
    background-color: var(--main);
    color: var(--dark);
    padding: 3em 0 3em 0;
    text-align: center;
}

b {
    font-size: 3em;
}

p#footer {
    font-size: 2em;
}

div#nav_bar ul li a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
}

div#nav_bar ul {
    list-style-type: none;
}

div#nav_bar ul li {
    display: inline;
    width: 25%;
    float: left;
    text-align: center;
}